html {
  scroll-behavior: smooth;
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  text-decoration: none;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  font-family: "Inter";
  font-weight: 400;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin linkHover {
  display: inline-block;
  text-decoration: none;
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s;
  }
  &:hover {
    color: black;
    &::after {
      width: 100%;
      transition: width 0.3s;
    }
  }
}

nav {
  font-size: 1.2rem;
  max-width: 1200px;
  margin: 0 auto;
  .logo {
    display: none;
  }
  div {
    display: flex;
    align-items: center;
  }
  a {
    padding: 1rem 0;
    color: black;
    margin-left: 1rem;
    @include linkHover;
  }
  .active {
    color: #45489d;
  }
  .account {
    margin-left: auto;
  }
  .nav-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .landing-text {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}

.container {
  max-width: 1200ox;
  display: flex;
  justify-content: center;
}

.card-content {
  display: block;
  border-bottom: 1px solid rgb(170, 170, 170);
}

h1 {
  font-weight: 700;
}

.landing-text {
  max-width: 800px;
  margin: 5rem auto;
  h1 {
    font-weight: 700;
  }
  h2 {
    margin-top: 1rem;
    font-weight: 300;
  }
  button {
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.container-bg {
  background-color: rgba(255, 255, 255, 0.555);
  border: 1px solid black;
}

.fab-form {
  position: fixed;
  left: calc(50% - 250px);
  top: 150px;
  width: 500px;
  z-index: 10;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  div {
    margin-right: 0.5rem;
  }
  .search {
    margin-left: auto;
    flex-grow: 2;
  }
  margin: 1rem 0;
}

.account-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  & * {
    margin-bottom: 1rem;
  }
}

.members {
  div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;
    & * {
      margin-top: 0.5rem;
    }
    .role {
      color: #5f6368;
    }
  }
  .avatar {
    margin: 0 auto;
  }
}

.value {
  font-weight: 700;
}

.card {
  &:hover {
    cursor: pointer;
  }
}

.color-picker {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  width: 100%;
  margin: 0.75rem 0;
  li {
    list-style: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
  }
  .outline {
    position: absolute;
    top: -0.75rem;
    left: -0.75rem;
    right: -0.75rem;
    bottom: -0.75rem;
    border: 0.4rem solid white;
    border-radius: 50%;
  }
}
