body {
  font-family: "Inter";
  font-weight: 400;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin linkHover {
  display: inline-block;
  text-decoration: none;
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s;
  }
  &:hover {
    color: black;
    &::after {
      width: 100%;
      transition: width 0.3s;
    }
  }
}

nav {
  font-size: 1.2rem;
  max-width: 1200px;
  margin: 0 auto;
  .logo {
    display: none;
  }
  div {
    display: flex;
    align-items: center;
  }
  a {
    padding: 1rem 0;
    color: black;
    margin-left: 1rem;
    @include linkHover;
  }
  .active {
    color: #45489d;
  }
  .account {
    margin-left: auto;
  }
  .nav-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  nav {
    div {
      display: none;
    }
    display: flex;
    align-items: center;
    .logo {
      display: block;
    }
    .nav-menu {
      display: block;
    }
  }
  .landing-text {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}

.container {
  max-width: 1200ox;
  display: flex;
  justify-content: center;
}

.card-content {
  display: block;
  border-bottom: 1px solid rgb(170, 170, 170);
}

h1 {
  font-weight: 700;
}

.landing-text {
  max-width: 800px;
  margin: 5rem auto;
  h1 {
    font-weight: 700;
  }
  h2 {
    margin-top: 1rem;
    font-weight: 300;
  }
  button {
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.container-bg {
  background-color: rgba(255, 255, 255, 0.555);
  border: 1px solid black;
}

.fab-form {
  position: absolute;
  left: calc(50% - 300px);
  top: 33%;
  width: 600px;
}